[common]
wifi_channel = 1

# 161 p/ 5.8GHz |  1 p/ 2.4GHz

# SKyrats antennas 2.4GHz

wifi_region = 'B0'

# use 'BO' to get max power in TX antenna

[drone_video]
peer = 'listen://0.0.0.0:5600'

bandwidth = 20     # bandwidth 20 or 40 MHz
short_gi = False   # use short GI or not
stbc = 1           # stbc streams: 1, 2, 3 or 0 if unused
mcs_index = 1      # mcs index

